<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>
		<%= baiviet.TieuDe %>
	</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<%- include('includes/navbar') %>
		<div class="container">
			<div class="nav-scroller py-1 mb-2 dieu_huong">
				<nav class="nav d-flex justify-content-between">
					<% if(chude.length){ %>
						<% chude.forEach(cd=> { %>
							<a class="p-2 link-secondary text-decoration-none" href="/baiviet/chude/<%= cd._id %>">
								<%= cd.TenChuDe %>
							</a>
							<% }); %>
								<% }; %>
				</nav>
			</div>

			<div class="bv_chitiet-box">
				<h5 class="card-header bv_chitiet-heading">
					<%= baiviet.TieuDe %>
				</h5>
				<div class="container--information-text container--information-tacgia ngaydang_font my-3">
					<p class="card-text small text-muted bv_chitiet-ngay">Ngày đăng <%= new
							Date(baiviet.NgayDang.toISOString()).toLocaleString("vi-VN") %>, bởi <%=
								baiviet.TaiKhoan.HoVaTen %>, có <%= baiviet.LuotXem %> lượt xem.</p>
					</p>
				</div>
				<div class="card-body bv_chitiet-inf">
					<p class="card-text bv_chitiet-tomtat">
						<%= baiviet.TomTat %>
					</p>
					<p class="card-text bv_chitiet-noidung"><%- baiviet.NoiDung %></p>
				</div>
			</div>


			<!-- move_up -->
			<div class="move_up">
				<a href="#" class="layout__sticky">
					<i class="fa-solid fa-arrow-up"></i>
				</a>
			</div>
		</div>
		<%- include('includes/footer') %>
			<%- include('includes/javascript') %>
</body>

</html>